/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */
body{

margin: 0;


}

.container{
  display: flex;
  flex-direction: column;
width: 24.375rem;
height: 52.75rem;
background-color: rgb(12, 11, 11);

}






