/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */
body{

background-color: rgb(85, 22, 22);


}

.container{
  display: flex;
  flex-direction: column;
width: 24.375rem;
height: 52.75rem;
background-color: rgb(173, 132, 132);

}


nav{
width: 24.375rem;
height: 6.25rem;
background-color: blueviolet;
display: flex;
justify-content: center;
padding: 1.25rem;


}
button{
position: relative;
left:-5px;
margin-left: .625rem;
background-color: rgb(196, 196, 190);
width:130px;
height: 50px;
border-color: rgb(168, 149, 149);
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);


}
a{
  text-decoration: none;
  color:black
}
main{
display: flex;
flex-direction: column;
width:24.375rem;
height:340px;
background-color: aquamarine;


}
form{
display: grid;
grid-template-columns: 1fr;
grid-template-columns: repeat(2,350px) [textarea]150px [boton]100px;


}
input{
margin-left: 20px;
margin-top: .9375rem;
background-color: rgb(196, 196, 190);
border-color: rgb(168, 149, 149);
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}
input::placeholder{
  color:black;
}
textarea{
  margin-left:20px;
width: 350px;
margin-top: 10px;
height: 9.375rem;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
background-color: rgb(196, 196, 190);

}
textarea::placeholder{
color:black;

}
footer{
  
background-color: rgb(163, 137, 137);
width:390px;
height: 156px;



}
main button{
  margin-top: .625rem;
position: relative;
margin-left: 8.125rem;

}
footer img{
 
    display: inline-block;
    margin-left: 50px; /* Aplica margen a la derecha de cada imagen */
}



